{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-light" style="position: fixed;width:100%;z-index:1;">
    <div class="row">
        <div class="col-md-6 col-9 p-3 pl-5">
            <h2>Torque Wedding Company</h2>
        </div>
        <div class="col-md-6 col-3 my-auto">
            <nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'torqueapp:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>



    </ul>
  </div>
</nav>
        </div>
    </div>
</header>
<section style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4>{{func.cust}}</h4>
             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                <div class="card text-center p-3" style="width:27em;height:35em;">


                    <img class="card-img-top" src="{% static 'img/tor5.jpg' %}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section  style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                 <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                 <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section  style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                 <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                 <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section  style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                 <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

<section  style="padding-top:8em;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">

             <img src="{{func.img.url}}" alt="fail" class="img-fluid"><br>

            </div>
            <div class="col-md-4 p-4">
                <div class="card text-center p-3" style="width:27em;height:35em;">

                    <img class="card-img-top" src="{{func.img.url}}" alt="ph" style="height:100%;">


                </div>

            </div><br>

        </div>
    </div>
</section>

{% endblock %}
